# Application
PORT=3000
NODE_ENV=development

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=en2h_booking

# JWT
JWT_SECRET=change_this_access_token_secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_this_refresh_token_secret
JWT_REFRESH_EXPIRES_IN=7d
